<h1>BuzzFeed Front End Assignment</h1>
<div class="search-results"
            infinite-scroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScrollDown()"
            [scrollWindow]="false">
           
<div *ngFor = "let dat of data"> 
    <div *ngFor = "let dat of data"> 

    <div class="xs-block-grid-5 xs-mb4 xs-relative xs-t2 xs-l6">
        <div class="block-grid__item fill-white xs-border">
            <img class="xs-col-12 xs-block" src="{{dat.images.standard}}" />

            <div class="xs-p1"> 
                <h5 class="bold xs-mb1 text-orange"> {{dat.description}}  </h5>
            </div>
        </div>
    </div>
  </div>
</div>
</div>



 
